<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Welcome to Andromeda</title>
</head>
<body>
    <div id="wrapper" class="borderBox">
        <h1>Hello {{session['first_name']}}!</h1>
        <div class="form_box borderBox">
            <h2>Lookin' good!</h2>
            <img id="profile_pic" src="static/img/{{session['file_name']}}" alt="profile photo">
        </div>
    </div>
</body>
</html>