<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <title>Create a New Dojo</title>
</head>
<body>
    <h1>Create a new Dojo</h1>
    <form action="/submit" method="post">
        Your Name: <input type="text" name="name">
        <input type="submit" value="Submit">
    </form>
</body>
</html>