<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <title>Dojo Survey Index</title>
</head>
<body>
    <h1>Please fill out our survey!</h1>
    <form action="/submit" method="post">
        <p>Your Name: <input type="text" name="name"></p>
        <p>Dojo Location: <select name="location">
            <option value="Burbank">Burbank</option>
            <option value="San Jose">San Jose</option>
            <option value="Seattle">Seattle</option>
        </select></p>
        <p>Favorite Language: <select name="language">
            <option value="HTML">HTML</option>
            <option value="CSS">CSS</option>
            <option value="JavaScript">JavaScript</option>
            <option value="Python">Python</option>
        </select></p>
        <p>Comment (optional):</p>
        <p><textarea type='input' name="comment" cols="40" rows="5"></textarea></p>
        
        <input type="submit" value="Submit">
    </form>
</body>
</html>