<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <title>About Ninjas</title>
</head>
<body>
    <h1>About Ninjas</h1>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perspiciatis repellat vitae quidem neque. Rem, deleniti exercitationem voluptatem cupiditate accusantium placeat, aspernatur quam possimus mollitia blanditiis, quia similique perspiciatis dolorum tenetur.</p>
</body>
</html>