<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hi </title>
</head>
<body>
    <h1>Hello World!</h1>

    <p>Just Added: {{users[users|length - 1]}}</p>

    <p>My name is {{first}} {{last}}</p>

    {% for i in users %}
    <p>And my name is {{i.firstname}} {{i.lastname}}</p>
    {% endfor %}

    <form action="/?first={{first}}&last={{last}}" method="POST">
        <label for="firstname">First Name:</label>
        <input type="text" id="firstname" name="firstname">
        <label for="lastname">Last Name:</label>
        <input type="text" id="lastname" name="lastname">
        <input type="submit">
    </form>

    <p>{{users}}</p>
</body>
</html>