<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <title>The Great Number Game</title>
</head>
<body>
    <div id="wrapper" class="brBox">
        <h1>Welcome to the Great Number Game!</h1>
        <p>I am thinking of a number between 1 and 100</p>
        <p>Take a guess!</p>
        <div id="guess_box" class="red brBox">
            <h2>Too high!</h2>
        </div>
        <form action="/check_num" method="post">
            <input type="text" name="guess">
            <input type="submit" value="Submit">
        </form>
    </div>
</body>
</html>